body{
    background-color: rgb(87, 11, 11);
}

h2{
    font-size: 40px;
    color: rgb(232, 227, 227);
    margin-top: 30px;
}

.navbar .storage{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.navbar ul{
    display: flex;
}

.storage{
    padding: 0 30px;
    margin: 0 auto;

}

ul{
    color: white;
    font-size: 25px;
    list-style-type: none;
}

.navbar a{
    margin-left: 20px;
}

 .first{
    padding-top: 50px;
     background-color: blue;
     color: white;
     width: 100px;
     height: 100px;
     
     
     
 }

 .second{
    padding-top: 50px;
    background-color: rgb(238, 228, 227);
    color: rgb(17, 11, 11);
    width: 100px;
     height: 100px;
 }

 .third{
    padding-top: 50px;
    background-color: rgb(0, 229, 255);
    color: rgb(32, 17, 17);
    width: 100px;
     height: 100px;
 }
 
 .fourth{
    padding-top: 50px;
    background-color: darkgreen;
    color: white;
    width: 100px;
     height: 100px;
 }

 .flex{
     margin-left: 20px;
     margin-right: 20px;
     background-color: black;
     height: 200px;
     text-align: center;
     margin-top: 200px;
    display: flex;
    justify-content: space-around;

 }

